@keyframes heart-scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.25);
    }
}

@keyframes sparks-opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}