/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--primary-font, -apple-system, sans-serif);
  font-variation-settings: "wght" var(--primary-content-weight);
  background-image: var(--background-gradient);
  background-attachment: fixed;
  background-size: cover;
}

.block-style {
  display: flex;
  flex-direction: column;
  width: clamp(var(--block-width-min), var(--block-width-pref), var(--block-width-max));
  border: 2px solid #000;
  background-color: #fff;
}

.block-style > *:not(h1, h2, .card-image) {
  margin: 0 25px 25px;
}

.header {
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: clamp(327px, 312.56px + 3.85vw, 368px);
  margin: 100px 0;
  font-family: var(--accent-font);
  text-transform: uppercase;
}

.accent-title {
  font-size: clamp(var(--accent-title-size-min), var(--accent-title-size-pref), var(--accent-title-size-max));
}

.accent-text {
  font-size: clamp(var(--accent-text-size-min), var(--accent-text-size-pref), var(--accent-text-size-max));
}

.card:not(:last-child) {
  margin-bottom: 50px;
}

.card-title {
  padding: 4px 10px;
  font-size: 18px;
  font-variation-settings: "wght" var(--primary-title-weight);
}

.card-image {
  position: relative;
  width: 100%;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  margin-bottom: 25px;
}

.image {
  display: block;
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.image-label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 14px;
  font-family: var(--accent-font);
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow:
    1px  0   0 var(--srtoke-color),
   -1px  0   0 var(--srtoke-color),
    0   1px 0 var(--srtoke-color),
    0  -1px 0 var(--srtoke-color),
    1px  1px 0 var(--srtoke-color),
   -1px  1px 0 var(--srtoke-color),
    1px -1px 0 var(--srtoke-color),
   -1px -1px 0 var(--srtoke-color);
}

.card-text {
  font-size: 18px;
  line-height: 21px;
}

.button__group {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  gap: 7px;
  height: 38px;
}

.card__icon-button {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

.temp-icon {
  height: 100%;
}

.card__like-button {
  width: 130px;
  font-size: 14px;
  font-family: var(--accent-font);
  background: none;
  cursor: pointer;
}

.save-button {
  display: grid;
  grid-template-rows: 28px auto;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: clamp(var(--button-save-width-min), var(--button-save-width-pref), var(--button-save-width-max));
  margin: 0 auto 100px;
  padding: 15px 18px;
  font-size: 14px;
  font-family: var(--accent-font);
  background-color: #fff;
  cursor: pointer;
}

.dialog-save {  
  width: 341px;
  height: 191px;
  padding: 28px 38px;
}

.dialog-save[open] {
  display: grid;
  grid-template-columns: 39px auto;
  align-items: center;
  column-gap: 20px;
  row-gap: 30px;
}

.dialog-save::backdrop {
  background-color: #000;
  opacity: 75%;
}

.dialog-text {
  font-size: 14px;
  font-family: var(--accent-font);
  line-height: 150%;
  text-transform: uppercase;
}

.dialog-button {
  grid-column: 1 / -1;
  width: 100%;
  height: 38px;
  font-size: 14px;
  font-family: var(--accent-font);
  text-transform: uppercase;
  background-color: #fff;
  cursor: pointer;
}

.filter-saturate-low {
  filter: saturate(20%);
}

.filter-saturate-high {
  filter: saturate(460%);
}

.filter-hue-rotate {
  filter: hue-rotate(30deg);
}

.filter-invert {
  filter: invert(80%);
}

.filter-sepia {
  filter: sepia(90%);
}

.filter-blur {
  filter: blur(11px);
}

.filter-mix {
  filter:
    hue-rotate(90deg)
    saturate(95%)
    invert(20%)
    blur(2px);
}

@supports (-webkit-text-stroke: 1px var(--srtoke-color)) or (text-stroke: 1px var(--srtoke-color)) {
  .image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--srtoke-color);
    text-stroke: 1px var(--srtoke-color);
  }  
}

@media (width <= 375px) {
  
}

@media (width >= 1440px) {
  .save-button {
    grid-template-rows: 21px;
    grid-template-columns: 21px auto;
    row-gap: 0;
  }
}

